[Desktop Entry]
Type=Application
Name=EWW
Comment=ElKowars wacky widgets
Exec=eww daemon
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true